h1
{
text-align:center;
 color:#790000;
 font-size: 30px;
 font-family:Malgun Gothic Semilight
}
h2
{
text-align:center;
 color:black;
 font-size: 28px;
 font-family:Malgun Gothic Semilight
}
h3
{
text-align:center;
 color:#005826;
 font-size: 28px;
 font-family:Malgun Gothic Semilight
}
h4
{
text-align:center;
 color:white;
 font-size: 28px;
 font-family:Malgun Gothic Semilight
}